<div class="mail-container">
  <div class="body-container">
    <%- include('./partials/header') -%>
    <div class="mail-title">h_k</div>
    <div class="heading-1">
      To reset your password for your Genius Bees <%= accountType %> account,
    </div>
    <div class="heading-2">please click the button below.</div>
    <div class="password">Password: <b> <%= password %> </b></div>
    <div>
      <a href="<%= verifiyEmailLink %>" class="btn btn-primary"
        >Reset Password</a
      >
    </div>
    <span class="igonore-msg"
      >If you have not requested a password reset, please ignore this
      email.</span
    >
    <%- include('./partials/footer') -%>
  </div>
</div>
